*{
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: arial
  }
  
  /* Định dạng header */
    .header {
    background-color: #e9d8f4;
    color: #58257b;
    padding: 10px;
    text-align: center;
  }
  
  /* Định dạng thanh điều hướng trên cùng */
  .topnav {
    overflow: hidden;
    background-color: #58257b;
  }
  
  /* Định dạng link điều hướng */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Thay đổi màu liên kết khi di chuột qua */
  .topnav a:hover {
    background-color: #db7093;
    color: white;
    font-weight: bold
  }