<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../Template/head', { title: title } ); %>
        
        <link rel="stylesheet" href="../css/stylehome.css">
    
    </head>
    <body>
        <header>
            <%- include ('../Template/header', { username: username, configHeader: configHeader, currpage : currpage  }); %>
        </header>

        <main>

            <div class="container">
               <div class="panel-left-right">
                <ul data-view-id="main-product" style="z-index:2" class="Negative_Wrapper">
                    <ul data-view-id="main-product" class="Negative_Wrapper">
                             <p>Children's toys section</p>
                         <div class="SubMenu-header" >
                             <ul class="SubMenu__NavSubCol-ykxlng-2 jiKhdj"><a href="">Tokusatsu Toy</a></ul>
                             <ul class="SubMenu__NavSubCol-ykxlng-2 jiKhdj"><a href="">Gun Toys</a></ul>
                             <ul class="SubMenu__NavSubCol-ykxlng-2 jiKhdj"><a href="">Other types of items</a></ul>
                             <ul class="SubMenu__NavSubCol-ykxlng-2 jiKhdj"><a href="">Other types of items</a></ul>
                             <ul class="SubMenu__NavSubCol-ykxlng-2 jiKhdj"><a href="">Other types of items</a></ul>
                             <ul class="SubMenu__NavSubCol-ykxlng-2 jiKhdj"><a href="">Other types of items</a></ul>
                             <ul class="SubMenu__NavSubCol-ykxlng-2 jiKhdj"><a href="">Other types of items</a></ul>

                         </div>
                    </ul> 
                    <ul data-view-id="main-product" class="Negative_Wrapper">
                    </ul>   
                </ul>
                <div class="label">
                        <img src="../img/labelToys.jpg" alt="Lable toys 3" width="1000" height="300">
                </div>
                
            </div>
                <div>
                        <div class="filter-list-box" style="text-align: center;">
                            <h1>Home Page</h1>
                            <p>Hello everyone have come to our store. Here, people can choose and buy toy products for their children or for themselves (Note: only healthy toys for life are sold here.)</p>
                            <img src="../img/labelToys2.jpg" alt="">
                            <br>
                            <br>    
                            <center><button type="button" class="btn btn-primary">Moved to the product zone</button></center>
                        </div>
                </div>
            </div>
        </main>
          
        
        <%- include ('../Template/footer'); %>
        

    </body>

</html> 