<div class="container" style="text-align: center;" >
    <ul><h2 style="color: crimson; font-family: Georgia, 'Times New Roman', Times, serif;">Tokusatsu Toy</h2></ul>
    <div class="row"> 
        <div class="col-sm-6 col-md-3"> 
         <div class="product"> 
          <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy4.jpg" class="img-responsive" alt="Toy 1"> 
          </p> 
          <div class="caption"> 
           <div class="blur"></div> 
           <div class="caption-text"> 
            <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Zero-One / DX Zero-One Driver & Rising Hopper Progrise Key Set Used - US$39.99</h5> 
            <p>Item Line: DX Henshin Belt / DX Zetsumerise Key
                Includes: DX Zero-One Driver / Rising Hopper Progrise Key
                Series: Kamen Rider Zero-One
                Character Name: Kamen Rider Zero-One / Aruto Hiden
                Brand: Japanese Bandai</p><a class=" btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
         <div class="product"> 
          <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%" src="../img/Toy3.jpg" class="img-responsive" alt="Toy 2"> 
          </p> 
          <div class="caption"> 
           <div class="blur"></div> 
           <div class="caption-text"> 
            <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Drive / DX Break Gunner & DX Chaser Bat Viral Core Used - US$39.99</h5> 
            <p>Item Line: DX Toy / DX Chaser Viral Core
                Includes: DX Break Gunner / DX Chaser Bat Viral Core
                Series: Kamen Rider Drive
                Character Name: Mashin Chaser / Chase
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart">Add to Cart</span></a> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
         <div class="product"> 
          <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%" src="../img/Toy2.jpg" class="img-responsive" alt="Toy 3"> 
          </p> 
          <div class="caption"> 
           <div class="blur"></div> 
           <div class="caption-text"> 
            <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Zero-One / DX Shining Hopper Progrise Key Used - US$24.99</h5> 
            <p>Item Line: DX Progrise Key
                Includes: DX Shining Hopper Progrise Key
                Series: Kamen Rider Zero-One
                Character Name: Kamen Rider Zero-One / Aruto Hiden
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
         <div class="product"> 
          <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy1.jpg" class="img-responsive" alt="Toy 4"> 
          </p> 
          <div class="caption"> 
           <div class="blur"></div> 
           <div class="caption-text"> 
            <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px; ">Kyukyu Sentai GoGo V / Super Minipla Grand Liner Sealed - US$259.99</h5> 
            <p>Item Line: Super Minipla
                Includes: Grand Liner
                Series: Kyukyu Sentai GoGo V
                Character: Matoi Tatsumi, Nagare Tatsumi, Shou Tatsumi, Daimon Tatsumi, Matsuri Tatsumi
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
           </div> 
          </div> 
         </div> 
        </div>
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy5.jpg" class="img-responsive" alt="Toy 5"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Gekisou Sentai Carranger / Accel Changer with Package  - US$279.99 </h5> 
               <p>Item Line: Toy
                Includes: Accel Changer
                Series: Gekisou Sentai Carranger
                Character Name: Red Racer / Kyosuke Jinnai
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy6.jpg" class="img-responsive" alt="Toy 6"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Mashin Sentai Kiramager / DX Kirameijin - US$79.99 </h5> 
               <p>Item Line: DX Toy / DX Robo
                Includes: Kirameijin
                Series: Mashin Sentai Kiramager
                Character Name: Juru Atsuta, Shigure Oshikiri, Tatetoma Imizu, Sena Hayami, Sayo Ooharu
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div>  
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy7.jpg" class="img-responsive" alt="Toy 7"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Ex-Aid / DX Maximum Mighty X Gashat Used - US$34.99 </h5> 
               <p>Item Line: DX Rider Gashat
                Includes: DX Maximum Mighty X Gashat
                Series: Kamen Rider Ex-Aid
                Character Name: Kamen Rider Ex-Aid / Emu Hojo
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy8.jpg" class="img-responsive" alt="Toy 8"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Saber / DX Seiken SworDriver - US$99.99 </h5> 
               <p>Item Line: DX Toy / DX Wonder Ride Book / Henshin Belt
                Includes: DX Swordriver / DX Brave Dragon Wonder Ride Book
                Series: Kamen Rider Saber
                Character Name: Kamen Rider Saber
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy9.jpg" class="img-responsive" alt="Toy 9"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Ex-Aid / DX Hyper Muteki Gashat & Maximum Mighty X Gashat Set Sealed - US$89.99 </h5> 
               <p>Item Line: DX Rider Gashat
                Includes: DX Hyper Muteki Gashat / DX Maximum Mighty X Gashat
                Series: Kamen Rider Ex-Aid
                Character Name: Kamen Rider Ex-Aid / Emu Hojo
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy10.jpg" class="img-responsive" alt="Toy 10"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Build / DX Sclash Driver with Package - US$69.99 </h5> 
               <p>Item Line: DX Toy / DX Sclash Jelly
                Includes: DX Sclash Driver / Dragon Sclash Jelly / Robot Sclash Jelly
                Series: Kamen Rider Build
                Character Name: Kamen Rider Cross-Z Charge / Ryuga Banjou / Kamen Rider Grease / Kazumi Sawatari
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy11.jpg" class="img-responsive" alt="Toy 11"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Hyakujyu Sentai Gaoranger / DX Gao God with Package - US$349.99 </h5> 
               <p>Item Line: DX Toy / Power Animal
                Includes: DX Gao God
                Series: Hyakujyu Sentai Gaoranger
                Character Name: Gao Red / Kakeru Shishi / Gao Yellow / Gaku Washio / Gao Blue / Kai Samezu / Gao Black / Soutaro Ushigome / Gao White / Sae Taiga
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy12.jpg" class="img-responsive" alt="Toy 12"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Ghost / DX Ghost Driver with DX Ore & Edison Ghost Eyecon - US$39.99 </h5> 
               <p>Item Line: DX Toy / Henshin Ghost Belt / DX Ghost Eyecon
                Includes: DX Ghost Driver,DX Ore Ghost Eyecon, DX Edison Ghost Eyecon
                Character Name: Kamen Rider Ghost: Takeru Tenkuji
                Brand: Japanese Bandai</p> <a class="btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
    </div>
    <p><h2>____________________________</h2></p>
</div>
<div class="container" style="text-align: center;" >
    <ul><h2 style="color: crimson; font-family: Georgia, 'Times New Roman', Times, serif;">Gun Toys</h2></ul>
    <div class="row">
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy13.jpg" class="img-responsive" alt="Toy 13"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">NERF Mega Motostryke Motorized 10-Dart Blaster - US$34.88</h5> 
               <p>Includes 10 Official Mega Darts and 10-Dart Clip -- for Kids, Teens, Adults</p><a class=" btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy14.jpg" class="img-responsive" alt="Toy 14"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Dart Zone Super Commando Gatling Blaster - US$32.90</h5> 
               <p>Set includes one full-auto motorized Gatling Blaster; two 18-round ammo belts; three foam targets; and 36 Super Darts</p><a class=" btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy15.jpg" class="img-responsive" alt="Toy 15"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">NERF Ultra One Motorized Blaster/ 25 Ultra Darts - US$49.99</h5> 
               <p>Farthest Flying Darts Ever -- Compatible Only Ultra One Darts</p><a class=" btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy16.jpg" class="img-responsive" alt="Toy 16"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Zero-One / DX Zero-One Driver & Rising Hopper Progrise Key Set Used - US$39.99</h5> 
               <p>Item Line: DX Henshin Belt / DX Zetsumerise Key
                   Includes: DX Zero-One Driver / Rising Hopper Progrise Key
                   Series: Kamen Rider Zero-One
                   Character Name: Kamen Rider Zero-One / Aruto Hiden
                   Brand: Japanese Bandai</p><a class=" btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="product"> 
             <p style="text-align:center;margin-top:20px;"> <img style="width: 100%; height: 65%;" src="../img/Toy4.jpg" class="img-responsive" alt="Toy 1"> 
             </p> 
             <div class="caption"> 
              <div class="blur"></div> 
              <div class="caption-text"> 
               <h5 style="border-top:2px solid white;border-bottom:2px solid white;padding:10px;">Kamen Rider Zero-One / DX Zero-One Driver & Rising Hopper Progrise Key Set Used - US$39.99</h5> 
               <p>Item Line: DX Henshin Belt / DX Zetsumerise Key
                   Includes: DX Zero-One Driver / Rising Hopper Progrise Key
                   Series: Kamen Rider Zero-One
                   Character Name: Kamen Rider Zero-One / Aruto Hiden
                   Brand: Japanese Bandai</p><a class=" btn btn-default" href="./product-one.ejs"><span class="glyphicon glyphicon-shopping-cart"> Add to Cart</span></a> 
              </div> 
             </div> 
            </div> 
        </div> 
    </div>
</div>